@import 'tailwindcss';
@plugin 'tailwindcss-motion';

@theme {
	--bg-navbar: radial-gradient(rgba(0, 0, 0, 0) 1px, var(--background) 1px);
	--breakpoint-xs: 25rem;
	--font-editundo: 'EditUndo';
	/* --font-calsans: 'CalSans'; */
	--animate-marquee: marquee 1.5s infinite linear;
	--shadow-card-image: 0px -25px 40px 20px #0b0b0b inset;
	@keyframes marquee {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(0%);
		}
	}
}

::-webkit-scrollbar {
	display: hidden;
}

::-webkit-scrollbar-track {
	display: hidden;
}

::-webkit-scrollbar-thumb {
	display: hidden;
}

@font-face {
	font-family: 'EditUndo';
	font-style: normal;
	font-display: swap;
	src: url('EditUndo.ttf');
}

html {
	scroll-behavior: smooth;
}

.img-group-container {
	height: 500vh;
	position: relative;
}

.img-group-container > div {
	position: sticky;
	top: 10vh;
	overflow: hidden;
	height: 80vh;
}

.img-group {
	display: flex;
	gap: 3rem;
	padding-left: 2rem;
}

.img-container {
	display: flex;
	width: 50vw;
	height: 79vh;
	flex: 0 0 auto;
	flex-direction: column;
}
