name: Testin Playwright

on: 
  push: 
    branches: [master, main]
  pull_request: 
     branches: [master, main]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_ENV: ci

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: npm ci
      - run: npx playwright install --with-deps chromium